.footer {
  font-family: var(--barlow-font);
  background-color: hsl(168, 34%, 51%);
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  h2 {
    font-size: 2.25rem;
    color: var(--Dark-desaturated-cyan);
  }
}

.nav {
  list-style: none;
  display: flex;
  gap: 4rem;

  a {
    text-decoration: none;
    color: hsl(168, 34%, 31%);
    cursor: pointer;

    &:hover {
      color: var(--White);
    }
  }
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2rem;

  a:hover img {
    filter: brightness(0) invert(1); /* This will invert the colors of the SVG on hover */
  }
}
