.testimonials {
  padding: 3rem 1.5rem;
  text-align: center;
  color: var(--Very-dark-grayish-blue);

  h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1rem;
    opacity: 70%;
    margin-bottom: 2rem;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &:not(:last-of-type) {
      margin-bottom: 4rem;
    }
  }

  & > p {
    line-height: 1.5;
    font-size: 18px;
  }
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.user {
  &-name {
    font-size: 18px;
    font-weight: var(--fraunces-900);
    margin-bottom: 1rem;
  }

  &-job {
    font-size: 0.875rem;
    opacity: 70%;
  }
}

@media (min-width: 768px) {
  .testimonials {
    padding-top: 5rem;

    &-list {
      display: flex;
      justify-content: center;
      gap: 1rem;

      li {
        max-width: 25%;
      }
    }
  }
}
