@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Space+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

:root {
  /* # Font */
  --barlow-font: "Barlow", sans-serif;
  --fraunces-font: "Fraunces", serif;
  --fraunces-700: 700;
  --fraunces-900: 900;
  --font-size: 18px;

  /* ## Colors */

  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%); /* graphic design text */
  --Dark-blue: hsl(198, 62%, 26%); /* photography text */
  --Dark-moderate-cyan: hsl(168, 34%, 41%); /* footer */

  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
